@font-face {
  font-family: Roboto;
  src: url("../assets/fonts/Roboto-Regular.ttf");
}

:root {
  --primary-color: #121212;
  --primary-color-lighten: #222222;
  --secondary-color: #666666;
  --text-color: #f9f9f9;
  --text-color-alt: #666666;
  --highlight-color: #6521FF;
  --hightlight-color-darken: #4600e6;
  --hightlight-color-lighten: #7437ff;
  --input-text-color: var(--primary-color);
  --input-background-corlor: var(--text-color);
  --menu-background-color: rgba(0, 0, 0, 0.5);
  --menu-background-color-gradient: linear-gradient(180deg, rgba(18,18,18,0) 0%, rgba(6,6,6,1) 50%, rgba(0,0,0,1) 100%);
  --font: Roboto;
}

* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

p {
  color: var(--text-color-alt);
}

body {
  background-color: var(--primary-color);
  font-family: var(--font);
  color: var(--text-color);
  overflow-y: hidden;
}

.get-detail:hover {
  cursor: pointer;
}

.detail {
  display: none;
  overflow-x: scroll;
}

.detail--back-button {
  position: absolute;
  z-index: 9999;
  width: 35px;
  height: 35px;
  left: 25px;
  top: 25px;
}

.detail--back-button:hover {
  cursor: pointer;
}

.detail--hide {
  display: block;
  position: absolute;
  z-index: 9998;
  width: 100%;
  height: 100%;
  -webkit-animation: slideDown 0.6s forwards;
          animation: slideDown 0.6s forwards;
  background-color: var(--primary-color);
  top: 0;
}

.detail--show {
  display: block;
  position: absolute;
  z-index: 9998;
  width: 100%;
  height: 100%;
  -webkit-animation: slideUp 0.6s;
          animation: slideUp 0.6s;
  background-color: var(--primary-color);
  top: 0;
}

.detail-banner {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.detail-banner .banner-image {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}

.detail-content {
  margin: 0 25px;
  padding-bottom: 25px;
}

.detail-content--title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 25px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.detail-content--title-left {
  width: 70%;
}

.detail-content--title-left .ellipsis-slide {
  overflow: hidden;
}

.detail-content--title-left .ellipsis-slide div {
  display: inline-block;
}

.detail-content--title-left .ellipsis-slide h1 {
  padding-right: 60px;
}

.detail-content--title-left .ellipsis-slide--loop {
  white-space: nowrap;
  -webkit-animation: loop-anim 25s linear infinite;
          animation: loop-anim 25s linear infinite;
}

.detail-content--title-left .subtext {
  font-size: 14px;
  color: var(--secondary-color);
}

.detail-content--title-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: var(--secondary-color);
  font-size: 14px;
  width: 30%;
}

.detail-content--title-right span {
  text-align: center;
}

.detail-content--title-right .spotify {
  width: 30px;
  height: 30px;
}

.detail-content .album-info {
  margin: 0 0 15px 0;
}

.detail-content .album-info .sub-info {
  margin-top: 5px;
  font-size: 15px;
  font-weight: 600;
}

.detail-content .track-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 40px;
}

.detail-content .track-info--length {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: var(--primary-color-lighten);
  border-radius: 3px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 15px;
  margin-right: 10px;
  width: 100%;
}

.detail-content .track-info--popularity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: var(--primary-color-lighten);
  border-radius: 3px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 15px;
  margin-left: 10px;
  width: 100%;
}

.detail-content .track-artists {
  margin-top: 20px;
}

.detail-content .track-artists--artist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.detail-content .track-artists--artist span {
  color: var(--text-color-alt);
  font-size: 16px;
}

.detail-content .track-artists--artist .artist-cover {
  border-radius: 50%;
  margin-bottom: 10px;
  width: 90px;
  height: 90px;
  min-width: 90px;
  min-height: 90px;
}

.detail-content .album-tracks {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.detail-content .album-tracks .track {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 10px 0;
}

.detail-content .album-tracks .track-name {
  font-size: 16px;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  text-overflow: ellipsis;
}

.detail-content .album-tracks .track-artists {
  color: var(--text-color-alt);
  font-size: 14px;
  margin-top: 3px;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.detail-content .album-extra {
  margin-top: 15px;
}

.page-content {
  margin: 25px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page-content .page-section {
  display: none;
}

.page-content .page-section--active {
  display: block;
  -webkit-animation: fadeIn 1s;
          animation: fadeIn 1s;
}

.page-content .page-section--home .greeting-wrapper .greeting {
  margin-bottom: 15px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-animation: fadeIn .3s;
          animation: fadeIn .3s;
}

.page-content .page-section--home .top-nav {
  margin-bottom: 10px;
}

.page-content .page-section--home .top-nav .top-nav-wrapper {
  position: relative;
  margin: 10px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page-content .page-section--home .top-nav .top-nav-wrapper .nav-item {
  padding: 10px;
  color: var(--text-color-alt);
  width: calc((100% / 2) - 10px);
  text-align: center;
}

.page-content .page-section--home .top-nav .top-nav-wrapper .nav-item--active {
  color: var(--text-color);
}

.page-content .page-section--home .top-nav .nav-slider {
  display: inline-block;
  position: absolute;
  left: 0;
  width: calc((100% / 2) - 10px);
  height: 3px;
  z-index: 1;
  background-color: var(--highlight-color);
  -webkit-transition: left .3s;
  transition: left .3s;
}

.page-content .page-section--home .page-top-wrapper {
  position: relative;
  max-height: 100vh;
  overflow-y: scroll;
}

.page-content .page-section--home .page-top-wrapper .page-top {
  display: none;
  margin-top: 15px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-animation: fadeIn .3s;
          animation: fadeIn .3s;
  padding-bottom: 300px;
}

.page-content .page-section--home .page-top-wrapper .page-top--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-content .page-section--home .page-top-wrapper .page-top--active .top--artist {
  -webkit-animation: slideLeft .3s;
          animation: slideLeft .3s;
}

.page-content .page-section--home .page-top-wrapper .page-top--active .top--track {
  -webkit-animation: slideRight .3s;
          animation: slideRight .3s;
}

.page-content .page-section--home .page-top-wrapper .page-top .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: calc((100% / 2) - 10px);
  height: 100%;
  margin-bottom: 25px;
}

.page-content .page-section--home .page-top-wrapper .page-top .top .top-cover {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 3px;
  margin-right: 20px;
  aspect-ratio: 1/1;
}

.page-content .page-section--home .page-top-wrapper .page-top .top .top-cover--artist {
  border-radius: 50%;
}

.page-content .page-section--home .page-top-wrapper .page-top .top .top-info {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page-content .page-section--home .page-top-wrapper .page-top .top .top-info--artist {
  text-align: center;
}

.page-content .page-section--home .page-top-wrapper .page-top .top .top-info .top-name {
  font-size: 16px;
  margin-top: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.page-content .page-section--home .page-top-wrapper .page-top .top .top-info .top-subtext {
  margin-top: 3px;
  color: var(--text-color-alt);
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.page-content .page-section--releases .releases {
  margin-top: 20px;
}

.page-content .page-section--search .page-taskbar, .page-content .page-section--releases .page-taskbar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page-content .page-section--search .page-taskbar .search-bar, .page-content .page-section--releases .page-taskbar .search-bar {
  position: relative;
  width: 100%;
  margin-top: 15px;
  height: 40px;
}

.page-content .page-section--search .page-taskbar .search-bar .search-input, .page-content .page-section--releases .page-taskbar .search-bar .search-input {
  position: relative;
  height: inherit;
  width: inherit;
  border: none;
  border-radius: 3px;
  outline: none;
  color: var(--input-text-color);
  padding: 5px 40px;
  background-color: var(--input-background-corlor);
  font-size: 14px;
  line-height: 14px;
}

.page-content .page-section--search .page-taskbar .search-bar .search-icon, .page-content .page-section--releases .page-taskbar .search-bar .search-icon {
  position: absolute;
  left: 10px;
  top: 10px;
  width: 20px;
  height: 20px;
}

.page-content .page-section--search .page-taskbar .filter, .page-content .page-section--releases .page-taskbar .filter {
  margin-top: 10px;
  margin-bottom: 20px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.page-content .page-section--search .page-taskbar .filter .filter-type, .page-content .page-section--releases .page-taskbar .filter .filter-type {
  width: auto;
  padding: 5px 10px;
  border: 1.5px solid var(--secondary-color);
  border-radius: 5px;
  margin-right: 10px;
  font-size: 14px;
  -webkit-transition: background-color .1s ease-in-out, border-color .1s ease-in-out;
  transition: background-color .1s ease-in-out, border-color .1s ease-in-out;
}

.page-content .page-section--search .page-taskbar .filter .filter-type--clicked, .page-content .page-section--releases .page-taskbar .filter .filter-type--clicked {
  -webkit-animation: clickAnim .2s;
          animation: clickAnim .2s;
}

.page-content .page-section--search .page-taskbar .filter .filter-type--active, .page-content .page-section--releases .page-taskbar .filter .filter-type--active {
  background-color: var(--highlight-color);
  border-color: var(--hightlight-color-lighten);
}

.page-content .results {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 100vh;
  padding-bottom: 300px;
}

.page-content .results .result {
  margin-bottom: 20px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
  -webkit-animation: appear 0.3s;
          animation: appear 0.3s;
}

.page-content .results .result .result-cover {
  min-width: calc((100% / 4) - 20px);
  width: calc((100% / 4) - 20px);
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 3px;
  aspect-ratio: 1/1;
}

.page-content .results .result .result-cover--artist {
  border-radius: 50%;
}

.page-content .results .result .result-info {
  width: calc(((100% / 4) - 20px) * 4);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto 0 auto 20px;
}

.page-content .results .result .result-info .result-title {
  font-size: 16px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.page-content .results .result .result-info .result-artist {
  margin-top: 3px;
  color: var(--text-color-alt);
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.page-content .results .result .result-info .result-date {
  margin-bottom: 3px;
  color: var(--text-color-alt);
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.bottom-nav {
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 100px;
  background-image: var(--menu-background-color-gradient);
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 40px;
  z-index: 999;
}

.bottom-nav .nav-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin: 20px 10px;
  width: calc((100% / 3) - 20px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  -webkit-transition: color .2s ease;
  transition: color .2s ease;
}

.bottom-nav .nav-item .title {
  margin-top: 5px;
  font-size: 11px;
  color: var(--text-color-alt);
}

.bottom-nav .nav-item--active .title {
  color: var(--text-color);
}

.icon {
  width: 24px;
  height: 24px;
}

.text {
  font-size: 18px;
  color: var(--text-color);
  font-weight: bold;
}

.subtext {
  font-size: 14px;
  color: var(--secondary-color);
}

.carousel-cell {
  width: 33%;
}

@-webkit-keyframes clickAnim {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
}

@keyframes clickAnim {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
}

@-webkit-keyframes appear {
  from {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes appear {
  from {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes slideUp {
  from {
    -webkit-transform: translateY(200%);
            transform: translateY(200%);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slideUp {
  from {
    -webkit-transform: translateY(200%);
            transform: translateY(200%);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes slideDown {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(200%);
            transform: translateY(200%);
    display: none;
  }
}

@keyframes slideDown {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(200%);
            transform: translateY(200%);
    display: none;
  }
}

@-webkit-keyframes slideLeft {
  from {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slideLeft {
  from {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes slideRight {
  from {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slideRight {
  from {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes loop-anim {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -50%;
  }
}

@keyframes loop-anim {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -50%;
  }
}
/*# sourceMappingURL=main.css.map */